@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lexend:wght@100..900&family=Patrick+Hand&display=swap');

/*----------------------------------------------- GLOBAL */

/*-------------------------- ELEMENTS & CLASSES */
body {
    color: white;
    font-family: 'Indie Flower', cursive;
}

a {
    text-decoration: none !important;
}

hr {
    color: white !important;
    opacity: .75 !important;
}

.main-bg {
    background-image: url('/static/images/empty-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: nowrap;
    position: relative;
    top: 10rem;
}

.container-flex {
    margin: 0;
}

.form-label {
    display: none;
}

/*-------------------------- BUTTONS */
.btn-signup,
.btn-edit,
.btn-submit {
    background-color: #5a9171;
    color: #fff;
    font-family: 'Indie Flower', cursive;
    text-wrap: nowrap;
}

.btn-signup:hover,
.btn-signup:active,
.btn-edit:hover,
.btn-edit:active,
.btn-submit:hover,
.btn-submit:active {
    background-color: #fff;
    color: #23BBBB;
}

.btn-comment {
    font-size: .8rem;
    line-height: 1;
    margin-top: -1.5rem;
}

.btn-warning:hover,
.btn-warning:active {
    background-color: #000000;
    color: #ffc107;}

.submit-btn {
    background-color: #5a9171 !important;
}

.submit-btn:hover, .submit-btn:active {
    transition: 0.3s all ease;
    color: #5a9171 !important;
    background-color: #fff !important;
}

.btn-delete {
    color: #fff;
    background: #ba2626;
    font-family: 'Indie Flower', cursive;
}

.btn-delete:hover,
.btn-delete:active {
    color: #E84610;
    background: #fff;
}

/*-------------------------- FONTS */
.readable-font {
    font-family: 'Patrick Hand', cursive !important;
}

.lesson-font {
    font-family: 'Lexend', sans-serif;
}

.shrink-font {
    font-size: .8rem;
}

/*----------------------------------------------- BASE TEMPLATE */

/*-------------------------- NAVIGATION */
nav {
    z-index: 9;
    padding: 0 0 !important;
}

.navbar {
    background-color: black;
    border-bottom: white 2px groove;
    height: 4rem;
}

.navbar-brand {
    font-size: 1.5em;
    color: white !important;
}

.navbar-brand:hover {
    transition: 0.3s;
    text-shadow: 0 0 5px white !important;
    font-size: 1.6rem;
}

.nav-link {
    font-size: 1.2em;
    color: white !important;
    padding: 1rem !important;
}

.nav-item a:hover {
    transition: 0.3s;
    font-size: 1.3rem;
    text-decoration: underline !important;
}

.navbar-dark, .navbar-toggler {
    color: white !important;
    border-color: white !important;
}

.navbar-toggler {
    padding: 0.25rem !important;
    font-size: 1rem !important;
}

.navbar-toggler:hover {
    border: 1px solid white !important;
    box-shadow: #fff 0 0 5px !important;
    transition: 0.1s;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/*-------------------------- HEADER */
.welcome-text {
    font-size: 1.2rem;
    color: #84d5a6;
    margin-left: 0 !important;
}

.signed-out-text {
    font-style: italic;
    font-size: 1.2rem;
    color: #d5aa84c0;
}

/*-------------------------- FOOTER */
.footer {
    background-color: black;
    border-top: white 2px groove;
    position: relative;
    bottom: -2rem;
    z-index: 9;
}

/*-------------------------- DJANGO MESSAGES */
.msg {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 1.5rem;
    border: #79b390 2px groove;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}

.modal-dialog {
    margin-top: 10rem;
    color: black;
}

.modal-backdrop {
    display: none;
}

/*----------------------------------------------- INDEX.html */
.class-btn {
    background-color: #5a9171;
    width: 10rem;
    font-size: 1.5rem;
    border: white 2px groove;
    margin: 0 2rem;
}

.class-btn:hover, .class-btn:active {
    background-color: white;
    color: #5a9171;
    transition: 0.3s;
}

.class-btn:focus {
    border: white 5px groove;
    box-shadow: 0 0 0 .1rem white;
    background-color: white;
    color: #5a9171;
}

/*----------------------------------------------- LESSON FEED */
.column-container-eng {
    display: flex;
    background-image: url('/static/images/eng-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.column-container-hist {
    display: flex;
    background-image: url('/static/images/hist-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.column-container-psych {
    display: flex;
    background-image: url('/static/images/psych-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.left-column {
    width: 75rem;
}

.right-column {
    flex-grow: 1;
    margin-right: 10rem;
    height: 100%;
}

.small-screen-header {
    display: none;
    position: fixed;
    top: 3.5rem;
    width: 100%;
    margin: auto;
    padding: 1.1rem 0 0 0;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    text-transform: uppercase;
    border-bottom: white 2px groove;
    z-index: 9;
}

.lesson-feed {
    position: relative;
    top: 3rem;
}

.lessons-list {
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 1rem 0 1rem;
    position: relative;
}

.card-img-top {
    border-radius: 10px;
    border: #F9FAFC 2px solid;
    width: 75%;
    justify-content: center;
}

.image-container img {
    max-width: 75%;
    max-height: 25rem;
}

.card-title, .card-text {
    color: white;
    margin-top: 10px;
}

.card-body {
    padding: 0 1rem;
}

.text-muted {
    margin-top: 1.2rem;
}

.lesson-link:hover {
    text-shadow: 0 0 10px white;
    transition: all 0.3s ease;
}

.deadline {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: 50px;
    background-color: rgb(88, 146, 113);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    border-radius: 5px;
}

.no-lessons {
    height: 100vh;
}

/*----------------------------------------------- LESSON_DETAIL.html */
.left-column-lesson {
    width: 27.5rem;
}

.right-column-lesson {
    width: 80%;
}

.lesson-content {
    width: 100%;
    position: relative;
    padding: 5rem 3rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.65);
}

.lesson-text {
    margin-top: 2rem;
    border-radius: 5%;
    padding: 1rem 2rem;
    background-color: rgba(45, 45, 45, 0.4);
}

.lesson-text > h2 {
    margin-bottom: 2rem;
}

.image-flash-lesson {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: 17%;
    background-color: rgb(88, 146, 113);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    border-radius: 5px;

}

.comment-container {
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    border-top: white 5px groove;
    margin-top: 3rem;
    color: black;
}

.p-2 {
    background-color: rgba(45, 45, 45, 0.2);
    border-radius: 5px;
    margin: .5rem;
}

.lesson-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.faded {
    color: rgb(113, 113, 113);
}

.reported {
    color: rgb(255, 0, 0);
}

/*----------------------------------------------- HOMEWORK_DASHBOARD.html */
.homework-class-btn {
    background-color: #208fd9;
    width: 10rem;
    font-size: 1.5rem;
    border: white 2px groove;
    margin: .5rem 2rem;
}

.homework-class-btn:hover, .homework-class-btn:active {
    background-color: white;
    color: #208fd9;
    transition: 0.3s;
}

.homework-class-btn:focus {
    border: white 5px groove;
    box-shadow: 0 0 0 .1rem white;
    background-color: white;
    color: #208fd9;
}

/*----------------------------------------------- HOMEWORK_SUBMISSION.html */
.homework-container {
    position: relative;
    top: 5rem;
    margin-bottom: 5rem;
}

#id_content {
    height: 30rem;
}

#id_student_notes {
    height: 7.5rem;
}

/*----------------------------------------------- AUTHENTICATION */

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #23BBBB;
    text-decoration: underline !important;
}

.sign-out-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 15rem;
}

.sign-in-container {
    position: relative;
    top: 7.5rem;
}

.sign-up-container {
    position: relative;
    top: 4rem;
}

.form-container {
    margin-bottom: 5rem;
}

.highlight {
    color: #ffd900;
}

/*----------------------------------------------- MEDIA QUERIES */

/*-------------------------- SMALL SCREENS (max-width: 1023px) */
@media (max-width: 1023px) {

    .navbar-brand {
        font-size: 1.1rem;
    }

    .nav-divider {
        display: none;
    }

    .nav-link {
        background-color: rgba(0, 0, 0, 0.95);
        position: relative;
        top: 3.5rem;
        width: 40%;
        margin: 0 auto;
        text-align: center;
        z-index: 9;
        border: white 2px groove;
    }

    .navbar-toggler {
        margin-bottom: 1rem;
    }

    .footer {
        bottom: -4rem;
    }

    .column-container-eng,
    .column-container-hist,
    .column-container-psych {
        background-image: url('/static/images/empty-bg.png');
    }

    .left-column {
        display: none;
    }

    .right-column {
        width: 100%;
        margin-right: 80px;
        margin-left: 80px;
    }

    .small-screen-header {
        display: block;
    }

    .lesson-list {
        top: 3rem;
    }
}

/*-------------------------- TABLETS (max-width: 426px) */
@media (max-width: 426px) {
    .navbar {
        height: 7rem;
    }

    .container-fluid {
        align-content: center !important;
    }

    .navbar-collapse {
        position: relative;
        top: -2rem
    }

    .welcome-text {
        margin-top: 0 !important;
    }

    .homework-container {
        position: relative;
        top: 8rem;
        margin-bottom: 19rem;
    }
}