{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="column-container-hist">

  <!-- Header Visible on Small Screens -->
  <div class="small-screen-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="text-center">History with Ms Hinks</h3>
        </div>
      </div>
    </div>
  </div>
  
  <div class="left-column"></div>
  <div class="right-column container-fluid">
    <div class="row">
      
      <!-- Lessons Column -->
      <div class="col-12 mt-3 left lesson-feed">
        {% if lesson_list %}
        <div class="row">
          {% for lesson in lesson_list %}
          <div class="lessons-list col-md-4">
            <div class="card mb-4">
              <div class="card-body lesson-card">
                <div class="image-container">
                  {% if "placeholder" in lesson.featured_image.url %}
                  <img
                    src="{% static 'images/default-eng.png' %}"
                    alt="placeholder image"
                    class="card-img-top"
                  />
                  {% else %}
                  <img
                    src="{{ lesson.featured_image.url }}"
                    alt="{{ lesson.title }}"
                    class="card-image-top"
                  />
                  {% endif %}
                  <div class="image-flash">
                    <p class="deadline lesson-font">
                      Deadline: {{ lesson.deadline|date:"d/m/Y" }}
                    </p>
                  </div>
                </div>
                <a href="{% url 'lesson_detail' lesson.slug %}" class="lesson-link lesson-font">
                  <h2 class="card-title text-center">{{ lesson.title }}</h2>
                  <p class="card-text text-center">{{ lesson.summary }}</p>
                </a>
                <p class="card-text text-muted h6 mb-3">
                  Lesson Posted: {{ lesson.created_on|date:"d/m/Y" }} by 
                  {{ lesson.teacher }}
                </p>

                <hr />
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        {% else %}
        <!-- Default display if no lessons in lessons.Subject -->
        <div class="row no-lessons">
          <div class="lessons-list col-md-4">
            <div class="card mb-4">
              <div class="card-body lesson-card">
                <div class="image-container">
                  <img
                    src="{% static 'images/no_lessons.webp' %}"
                    alt="placeholder image"
                    class="card-img-top"
                  />
                </div>
                <h2 class="card-title text-center">No lessons posted...</h2>
                <p class="card-text text-center">
                  Your teacher is currently hard at work coming up with fun and
                  engaging lessons. Check back soon!
                </p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}